@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-400.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-700.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================================page-header=========================== */

.page-header {
    background-color: #ffffff;
}

.page-header-container {
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.navigation {
    display: flex;
    width: 880px;
    margin-right: auto;
}

.navigation-logo {
    width: 140px;
    margin-right: 30px;
}

.page-header-logo {
    display: block;
}

/* ------------------------navigation-list------------------------ */

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item {}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.navigation-link-current {}

/* --------------------------navigation-user-------------------------- */

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    max-width: 90px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

.navigation-user-item {}

.navigation-user-link {
    display: block;
    padding: 22px 12px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.navigation-user-link-search {}

.navigation-user-link-favorite {}

.favorite-icon {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #7DB54F;
}

.header-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
}

/* ================================page-header=========================== */

/* ================================main-index=========================== */

.main-container {
    flex-grow: 1;
}

.main-index {}

/* --------------------------------hero-------------------------------- */

.hero {
    padding-top: 51px;
    padding-bottom: 82px;
    background-color: #d9eaf2;
    background-image: url("../images/divider.svg"), url("../images/background/background.jpg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center bottom, center;
}

.hero-img {
    display: block;
    margin: 0 auto;
}

/* ----------------------------advantages---------------------------- */

.advantages {
    padding-top: 70px;
}

.leader {
    max-width: 620px;
    margin: 0 auto 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-list-title {
    margin-top: 0;
    margin-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-item {
    display: flex;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    min-height: 203px;
    padding: 102px 85px 80px;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

.advantages-item-wide {
    background-color: #82B3D3;
}

.advantages-title {
    max-width: 175px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-description {
    /* margin-top: 0; */
    /* margin-bottom: 22px; */
    text-align: center;
    color: #333333;
}

.advantages-img {
    /* display: block; */
}

.advantages-item-dark {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide-reverse {
    flex-direction: row-reverse;
}

.advantages-item-wide .advantages-title {
    color: #ffffff;
}

.advantages-item-wide .advantages-description {
    color: #ffffff;
}

/* -----------------------infrastructure----------------------- */

.infrastructure {
    padding-top: 64px;
}

.infrastructure-leader {
    max-width: 510px;
    margin: 0 auto 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.infrastructure-leader-text {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.infrastructure-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.infrastructure-item {
    width: 230px;
    padding: 183px 85px 81px;
    background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-item:nth-child(2n) {
    background-color: #ffffff;
}

.infrastructure-item-home {
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
}

.infrastructure-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.infrastructure-description {
    margin: 0;
    text-align: center;
    color: #333333;
}

.infrastructure-item-meal {
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
}

.infrastructure-item-souvenir {
    background-image: url("../images/souvenirs.svg");
    background-repeat: no-repeat;
}

/* ----------------------------search---------------------------- */

.search {
    padding: 96px 304px;
    text-align: center;
}

.search-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-description {
    margin-top: 0;
    margin-bottom: 54px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
}

.search-button {
    display: inline-block;
    padding: 8px 50px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756157;
}

/* ---------------------------subscribe--------------------------- */

.subscribe {
    padding: 96px 258px 104px;
    text-align: center;
}

.subscribe-theme-custom {
    color: #ffffff;
    background-color: #83b3d3;
    background-image: url("../images/background/background-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-description {
    max-width: 545px;
    margin: 0 auto 54px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-form-name {}

.field {
    width: 452px;
    margin: 0;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    background-color: #f2f2f2;
}

.subscribe-button {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* ================================main-index=========================== */

/* =============================page-footer============================= */

.page-footer {
    padding-top: 45px;
    padding-bottom: 35px;
    background-color: #fff;
}

.page-footer-container {
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    width: 145px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {}

.footer-social-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 40px;
    color: #82B3D3;
    text-decoration: none;
}

.footer-phone {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.copyright {
    width: 115px;
    color: #000000;
}

.copyright-img {
    display: block;
}

/* =============================page-footer============================= */

/* =============================main-inner============================= */

.main-inner {}

.main-inner-header {
    padding-top: 35px;
    padding-bottom: 70px;
    background-color: #82B3D3;
    background-image: url("../images/background/background-filters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-inner-header-container {
    padding-left: 70px;
    padding-right: 70px;
}

.inner-header-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
}

.breadcrumbs-link {
    margin-right: 28px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumbs-home-link {
    width: 12px;
    height: 12px;
}

/* ---------------------------filters--------------------------- */

.filters {}

.catalog-filter {
    display: flex;
}

.catalog-filter-group {
    width: 150px;
    margin: 0;
    margin-right: 70px;
    padding: 0;
}

.catalog-filter-group:nth-child(2) {
    margin-right: 140px;
}

.catalog-filter-group:nth-child(3) {
    width: 360px;
    margin-right: 0;
}

.catalog-filter-title {
    padding: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-transform: capitalize;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-item {
    margin-bottom: 16px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

.control {}

.control-input {}

.control-label {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.catalog-filter-label {}

.range-input-label {
    line-height: 24px;
    color: #000000;
    opacity: 0.3;
}

.range-input {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
}

.range-input-min {}

.range-input-max {}

.range-toggle {}

.toggle-min {}

.toggle-max {}

.catalog-filter-submit {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.catalog-filter-reset {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

/* -----------------------catalog-products----------------------- */

.catalog-products {
    padding-top: 50px;
}

.catalog-products-container {
    padding-right: 70px;
    padding-left: 70px;
}

.catalog-products-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.catalog-products-title {
    max-width: 350px;
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

/* select */

.select {
    display: flex;
    align-items: center;
    width: 292px;
    margin-left: auto;
    margin-right: 70px;
}

.select-control {
    width: 100%;
    padding: 14px 20px;
    padding-right: 40px;
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #fff;
}

/* view-buttons */

.view-buttons {
    display: flex;
    flex-wrap: wrap;
    /* Или gap или margin-right .view-button-item */
    /* gap: 8px; */
    max-width: 160px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.view-button-item {
    margin-right: 8px;
}

.view-button-item:last-child {
    margin-right: 0;
}

.view-button {
    display: block;
    width: 48px;
    height: 48px;
}

.view-button-current {}

.view-button-tile {}

.view-button-card {}

.view-button-list {}

/* product-list */

/* flex Или grid; gap или margin-right */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
}

.product-card {
    width: 340px;
    /* margin-right: 20px; */
    color: #333333;
}

/* .product-card:nth-child(3) {
    margin-right: 0;
} */

.product-card-link {
    text-decoration: none;
}

.product-card-img {}

.product-card-title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.product-card-tipe {}

.product-card-price {}

.product-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.add-favorite-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.favorite-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #7DB54F;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.product-card-stars {}

.product-card-stars-4 {}

.product-card-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: #F2F2F2;
    text-transform: uppercase;
    /* text-align: center; */
}

/* pagination */

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 60px 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    list-style-type: none;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    display: block;
    width: 60px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82b3d3;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-text {}
